<?php

$zf2libraryPath = '/path/to/zf2/library';
$digginlibraryPath = '/path/to/library/Diggin';
$htmlextractcontent = '/path/to/HTML_ExtractContent/src/';

error_reporting( E_ALL | E_STRICT );
set_include_path($zf2libraryPath . PATH_SEPARATOR 
                 . get_include_path());

require_once 'PHPUnit/Autoload.php';
require_once $htmlextractcontent.'HTML/ExtractContent.php';

require_once 'Zend/Loader/StandardAutoloader.php';
$autoloader = new Zend\Loader\StandardAutoloader;
$autoloader->registerNamespace('Diggin', $digginlibraryPath);
$autoloader->register();
